@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #edede9;
  color: #0c0c0c;
}

/* navbar styles */
.navbar {
  background-color: white;
  color: #edede9;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  position: fixed;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}


  .button_container {
    width: 25%;
    display: flex;
    justify-content: space-between;
  }


/* landing page styles */
.landing_page_div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: #04724d;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

/* Form Styles */
.styled_form {
  box-shadow: 3px 3px 12px black;
  padding: 20px;
  margin: 20px;
  border-radius: 16px;

  .button {
    background-color: #04724d;
    transition: 0.5s;
  }

  .button:hover {
    background-color: black;
  }

  input {
    padding-left: 8px;
  }

  textarea {
    padding-left: 8px;
  }
}

/* OTHER */

.green {
  color: #04724d;
}

.submit-button {
  background-color: #04724d;
  transition: 0.5s;
}

.submit-button:hover {
  background-color: black;
}

.upload_file {
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  transition: 0.5s;
}

.upload_file:hover {
  color: #04724d;
}
