@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #edede9;
  color: #0c0c0c;
}

/* navbar styles */
.navbar {
  background-color: #04724d;
  color: #edede9;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  position: fixed;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

/* landing page styles */
.landing_page_div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: #04724d;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

/* Admin Login Form */
.admin_login_form {
  box-shadow: 3px 3px 12px black;
  padding: 20px;
  margin: 20px;
  border-radius: 16px;

  .button {
    background-color: #04724d;
    transition: 0.5s;
  }

  .button:hover {
    background-color: black;
  }

  input {
    padding-left: 8px;
  }

  textarea {
    padding-left: 8px;
  }
}

/* Admin Info Card */

.admin_card {
  background-color: #edede9;
  margin: 20px;
  /* padding: 20px; */
  border-radius: 16px;
  box-shadow: 1px 1px 10px gray;

  .heading {
    background-color: #252627;
    border-radius: 16px 16px 0px 0px;
    color: #edede9;
    margin: 0px;
    padding: 15px;
  }

  .info {
    margin: 0px;
    padding: 15px;
  }

  .green {
    color: #04724d;
  }
}

/* Admin Sidebar */
.admin_sidebar {
  background-color: #252627;
  box-shadow: 2px 2px 10px gray;
  width: 30%;
  height: 100vh;
  padding: 20px;
  padding-top: 60px;
  margin-top: 0px;

  position: absolute;
  display: flex;
  flex-direction: column;

  a {
    transition: 0.5s;
    color: #edede9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 16px;
  }

  a:hover {
    cursor: pointer;
    background-color: #edede9;
    color: #252627;
  }

  a:active {
    cursor: pointer;
    background-color: #edede9;
    color: #252627;
  }
}

/* OTHER */

.submit-button {
  background-color: #04724d;
  transition: 0.5s;
}

.submit-button:hover {
  background-color: black;
}

.upload_file {
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  transition: 0.5s;
}

.upload_file:hover {
  color: #04724d;
}
