@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #2b2b2b;
  color: #d9d9d9;
}

.center {
  text-align: center;
  margin-top: 50px;
}

.button_container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* landing page styles */
.landing_page_div {
  background-color: oklch(76.172% 0.089459 200.026556 / 1);
  height: 60vh;
  margin: 0px 10px 10px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;

  p {
    color: lightgray;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
  }
}

/* Form Styles */
.styled_form {
  box-shadow: 3px 3px 12px black;
  padding: 20px;
  margin: 20px;
  border-radius: 16px;

  .button {
    background-color: oklch(76.172% 0.089459 200.026556 / 1);
    transition: 0.5s;
  }

  .button:hover {
    background-color: black;
  }

  input {
    padding-left: 8px;
  }

  textarea {
    padding-left: 8px;
  }
}

/* OTHER */

.green {
  color: oklch(76.172% 0.089459 200.026556 / 1);
}

.submit-button {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: #edede9;
  background-color: oklch(76.172% 0.089459 200.026556 / 1);
  transition: 0.5s;
}

.submit-button:hover {
  background-color: black;
}

.upload_file {
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  transition: 0.5s;
}

.upload_file:hover {
  color: oklch(76.172% 0.089459 200.026556 / 1);
}

/* NEW STYLING */

.filled_button {
  background-color: #2b2b2b;
  border: solid #2b2b2b 2px;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  color: #d9d9d9;
  transition: 0.5s;
}

.filled_button:hover {
  border: solid #2b2b2b 2px;
  background-color: #d9d9d9;
  color: #2b2b2b;
  cursor: pointer;
}

.unfilled_button {
  background-color: #d9d9d9;
  border: solid #d9d9d9 2px;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  color: #2b2b2b;
  transition: 0.5s;
}

.unfilled_button:hover {
  border: solid #d9d9d9 2px;
  background-color: #2b2b2b;
  color: #d9d9d9;
  cursor: pointer;
}

/* navbar styles */
.navbar {
  background-color: #d9d9d9;
  color: #2b2b2b;
  padding: 10px 20px 10px 20px;
  position: fixed;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;

  .link_container {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  padding: 20px;
  padding-top: 100px;

  .content {
    margin: 30px;
    text-align: center;
  }

  .title {
    font-size: 5rem;
  }

  .subtitle {
    font-size: 12px;
  }

  .image {
    width: 250px;
    height: 250px;
  }
}

.footer {
  background-color: #d9d9d9;
  color: #2b2b2b;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* position: fixed; */
  /* bottom: 0px; */

  .image {
    width: 150px;
    height: 150px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 100px;
  }

  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.businesscard_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.business_card {
  width: 30%;
  margin: 20px;
  text-align: center;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 12px;
  }
}

.allstores_header {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;

  .image {
    width: 200px;
    height: 200px;
  }

  p {
    font-size: 25px;
  }
}

.searchContainer {
  /* background-color: black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchInput {
  background-color: #2b2b2b;
  border: solid #d9d9d9 2px;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  color: #d9d9d9;
  width: 300px;
}

.dropdown {
  background-color: #d9d9d9;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 5px;
  list-style: none;
  color: #2b2b2b;
  width: 85%;
  margin-top: 5px;
}

.dropdownItem {
  padding: 10px;
  border-bottom-width: 1px;
  border-color: #d9d9d9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.dropdownItem:hover {
  background-color: #2b2b2b;
  color: #d9d9d9;
}

.product_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* isn't working for some unknown reason */
.product_card {
  width: 200px;
  margin: 20px;
  text-align: center;
  background-color: black;

  .image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .price {
    font-size: 12px;
  }
}

.shop_image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  /* margin: -10px; */
}

.shop_info {
  text-align: center;

  .title {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    margin: 10px 30px 50px 30px;
  }
}

.owner_image {
  width: 200px;
  border-radius: 100px;
}

.owner_info_container {
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 75px;

  .container {
    margin: 10px;
    padding: 10px;
    width: 500px;
    max-width: 100%;
  }
}

.about_owner_title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (width <= 1200px) {
  .business_card {
    width: 45%;
    margin: 10px;
  }
  .product_card {
    width: 45%;
  }
}

@media (width <= 800px) {
  .owner_info_container {
    .container {
      width: 100%;
    }
  }

  .owner_image {
    margin-bottom: 30px;
  }

  .about_owner_title {
    text-align: center;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CAROUSEL STYLES */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  margin-bottom: 50px;
}

.embla__viewport {
  overflow: hidden;
  margin: 50px 20px 10px 20px;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.carousel_slide {
  /* border: solid black; */
  /* border-radius: 1.8rem; */
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.img_container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 22px;
}

.slide_img {
  object-fit: cover;
  width: 100%;
  border-radius: 22px;
}

.info_container {
  width: 50%;
  padding: 20px;
  max-lines: 10;
  overflow: auto;
}

.truncated_text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
  border: solid;
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  background-color: #d9d9d9;
}
